@keyframes peakCycle 
{
    85% {background-color: #ffffff;}
    50% {background-color: #000}
    0% {background-color: #f9f9f9;}
} 
@-webkit-keyframes peakCycle 
{
    85% {background-color: #ffffff;}
    50% {background-color: #000}
    0% {background-color: #f9f9f9;}
}

@keyframes textCycle 
{
    50% {color: #003D14;}
} 
@-webkit-keyframes textCycle 
{
    50% {color: #003D14;}
}
#social-buttons.stick {
    position: fixed;
    bottom: 0px;
    height: 55px;
    z-index: 100000;
    background: #201D1E;
    /*width:45px;*/
}
.colour-change-text {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    animation: textCycle 15s normal infinite; 
    -webkit-animation: textCycle 15s normal infinite;
}
.fullscreen {
    height: 100%;
    width: 100%;
    top: 0;
    padding: 0;
    margin :0;
    position: absolute;
}
.fixed-box {
    position: fixed;
}
