.ball {
    float:left;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: table-cell;
    vertical-align: middle;
    /*padding-top: 15px;*/
/*    background-image:
        linear-gradient(
        to right, 
        red, 
        #f06d06, 
        rgb(255, 255, 0), 
        green
    );*/
    /*box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.3);*/
    padding: 30px;
}
.img-helper {
    display: table;
    margin: 0 auto;
    vertical-align: middle;
    padding: 0;
}
.img-watch {
    padding-left: 35px;
}
.img-games {
    top: 15px;
}
.move-middle {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}
.social-container {
    width: 33%
}
.carousel-inner {
    height: 450px;
}
.qualifications {
    color: white;
    padding-top: 50px;
}
.pool {
    /*background-color: #ffa64d;*/
    background: #ffffff;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -500;
    animation: peakCycle 120s normal infinite; 
    -webkit-animation: peakCycle 120s normal infinite;
}
.second {
    /*background: #201D1E;*/
    position: absolute;
    top: 2250px;
    width: 100%;
    height: auto;
    /*z-index: 3500;*/
/*    animation: peakCycle 120s normal infinite; 
    -webkit-animation: peakCycle 120s normal infinite;*/
}
.peak {
    position: fixed;
    width: 100%;
    top: -150px;
    padding: 0;
    margin: 0;
    z-index: -499;
    
}
.path {
    position: fixed;
    width: 5px;
    height:450px;
    top: 50px;
    left: 33%;
    padding: 0;
    margin: 0;
    z-index: -400;
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Safari */
    transform: rotate(40deg);
}
#climber {
    position: relative;
    height: 10px;
    width: 10px;
    /*background-color: green;*/
    top:100%;
    -ms-transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    transform: rotate(-80deg)
}
.climber-origin {
    top: 370px;
    left: 22%;
    position: fixed;
    z-index: 10000;
    opacity: 0;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}
.climber-origin.in{
    opacity: 1;
}
.holding {
     opacity: 0;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}
.holding.in{
    opacity: 1;
}
.logo {
    left: 0;
    width: 100%;
    margin-right: auto;
    top: 25px;
    position: fixed;
    z-index: 500;
    font-size: 6em;
    opacity: 0;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}
.logo.in {
    opacity: 1;
}
.canvas {
    width:225px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
}
.treelineFront {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    top: -40%;
    left: 0;
    position: inherit;
}

.floor {
/*    background:#003D14;
    animation: floorCycle 120s normal infinite; 
    -webkit-animation: floorCycle 120s normal infinite;*/
    z-index: 1501;
    width: 100%;
    height: 400px;
    left:0;
    top: 640px;
    padding: 0;
    margin: 0;
    position:relative;
}
.surrounding {
    position: absolute;
    top: -450px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 3000;
}
.forestFront {
    position: absolute;
    top: -50px;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 2500;
}
.forestFront path {
    fill: #003D14;
    animation: floorCycle 120s normal infinite; 
    -webkit-animation: floorCycle 120s normal infinite;
}
.forestMid {
    position: absolute;
    top: -90px;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1450;
}
.forestMid path {
    fill: #124007;
}
.tower {
    top: -350px;
    left: 70%;
    z-index: 1425;
    position: absolute;
}
.forestBack {
    position: absolute;
    top: -100px;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1400;
}
.forestBack path {
    fill: #1A0000;
    stroke: #fff;
}
.bgBack {
    position: absolute;
    top: -320px;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1300;
}
.bgBack path {
    /*fill: #331a00;*/
}
.main {
    top: 730px;
    left: 0%;
    width: 100%;
    height: 750px;
    z-index: 2000;
    padding: 50px;
    margin: 0;
    position: absolute;
    background: #201D1E;
/*    animation: floorCycle 120s normal infinite; 
    -webkit-animation: floorCycle 120s normal infinite;*/
    /*background: repeating-linear-gradient(to right, #003D14, #003D14 10px, #360000 30px, #360000 20px);*/
}
.bottom-of-main {
    bottom: 25px;
    height: 25px;
    left: 0;
    width: 100%;
    position: inherit;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
